<div id="about" class="active">
  {% assign about = site.data.about %}
  <!-- Text Section -->
  <div class="row">
    <section class="col-md-12 page-container">
      <div class="page-title">
        <span></span>
        <h2>About Me</h2>
      </div>
      <div class="page-content">
        <p class="about-me">{{ about.content }}</p>
      </div>
    </section>
  </div>
  <!-- My Services Section -->
  <div class="row">
    <section class="col-md-12 page-container graybg">
      <div class="page-title">
        <span></span>
        <h2>My Services</h2>
      </div>
      <div class="page-content">
        <div class="row">
          {% assign services = site.data.services %}
          <!-- a service -->
          {% for service in services %}
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="service">
              <div class="icon">
                <img width="75%" src="{{ service.icon }}" />
              </div>
              <p class="title">{{ service.title }}</p>
              <p class="little-text">
                {{ service.litle_text }}
              </p>
            </div>
          </div>
          <!-- a service -->
          {% endfor %}
        </div>
      </div>
    </section>
  </div>
  <!-- Skills Section -->
  <div class="row">
    <!-- assign -->
    {% assign skill = site.data.skill %}
    <section class="col-md-6 page-container">
      <div class="page-title">
        <span></span>
        <h2>Coding skills</h2>
      </div>
      <div class="page-content">
        <ul class="skill-list">
          {% for item in skill %}
          <li>
            <h3>{{ item.name }}</h3>
            <div class="progress">
              <div
                class="percentage"
                style="width:{{ item.percentage }};"
              ></div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>
  </div>
</div>
