<header class="col-md-12">
  <nav>
    <div class="row">
      <!-- navigation bar -->
      <div class="col-md-8 col-sm-8 col-xs-4">
        <ul class="tabs">
          {% assign menu = site.data.headers.menu %}
          <!-- ---- -->
          {% for tab in menu %}
          <li class="tab">
            {% if tab.isHome %}
            <a class="home-btn" href="{{ tab.href }}">
              <i class="fa fa-home" aria-hidden="true"></i>
            </a>
            {% else %}
            <a href="{{ tab.href }}">{{ tab.name }} </a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-8 dynamic">
        {% assign info = site.data.profile.info %}
        <a
          href="mailto:{{ info.email }}"
          class="pull-right site-btn icon hidden-xs"
          >Hire Me <i class="fa fa-paper-plane" aria-hidden="true"></i
        ></a>
        <div class="hamburger pull-right hidden-lg hidden-md">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <div class="hidden-md social-icons pull-right">
          {% assign socials = site.data.headers.social %}
          <!-- ---- -->
          {% for social in socials %}
          <a class="{{ social.style }}" href="{{ social.href }}">
            <i class="fa fa-{{ social.name }}" aria-hidden="true"></i>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="menuout">
      <div class="menuin" style="display: none;">
        <ul class="tabs">
          {% assign menu = site.data.headers.menu %}
          <!-- ---- -->
          {% for tab in menu %}
          <li class="tab">
            {% if tab.isHome %}
            <a class="home-btn" href="{{ tab.href }}">
              <i class="fa fa-home" aria-hidden="true"></i>
            </a>
            {% else %}
            <a href="{{ tab.href }}">{{ tab.name }} </a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</header>
<script>
  (function setupNavbar() {
    $(".hamburger").click(function(e) {
      $(".menuin").slideToggle();
    });
    let tab = $("ul.tabs").children("li.tab");
    tab.click(function(e) {
      let id = $(this)
        .children("a")
        .attr("href");
      if (id.indexOf("#") == 0) {
        $("#content")
          .children("div")
          .removeClass("active");
        $(id).addClass("active");
        tab.removeClass("active");
        $(this).addClass("active");
      }
    });
  })();
</script>
