<div id="portfolio">
  <div class="row">
    <div class="page-container">
      <div class="page-title">
        <span></span>
        <h2>Portfolio</h2>
      </div>
      <div class="page-content">
        <div id="filters-container"></div>
        <div class="portfolio-items" id="grid-container">
          <div class="cbp-wrapper-outer">
            <div class="row">
              <div class="portfolio-wrapper" id="portfolio-container"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function checkURL(url) {
    return url.match(/\.(jpeg|jpg|gif|png)$/) != null;
  }

  function extractUrl(readme) {
    const regex = /\bhttps?:\/\/\S+[^()<br]([a-z])/gi;
    var url = "";
    while ((m = regex.exec(readme)) !== null) {
      if (m.index === regex.lastIndex) {
        regex.lastIndex++;
      }
      m.forEach((match, groupIndex) => {
        if (checkURL(match)) {
          url = match;
          return;
        }
      });
    }
    return url;
  }

  function makeReposItems(data) {
    return data.map(repo => {
      var reposItem = "";
      reposItem += "<div class='col-lg-4 col-md-6 col-sm-6 col-xs-12'>";
      reposItem += "<div class='portfolio-item-wrapper'>";
      reposItem += '<a href="' + repo.html_url + '" class="cbp-singlePage">';
      reposItem += "<figure>";
      reposItem += "<div class='portfolio-image'>";
      reposItem += '<img id="' + repo.id + '" />';
      reposItem += '<div class="blur"></div>';
      reposItem += '<div class="icon">';
      reposItem += "<i class='fa fa-github'></i>";
      reposItem += "<p>View on Github</p>";
      reposItem += "</div>";
      reposItem += "</div>";
      reposItem += "<figcaption>";
      reposItem += '<span class="title">' + repo.name + "</span>";
      reposItem += '<span class="info">An admin template design.</span>';
      reposItem += "</figcaption>";
      reposItem += "</figure>";
      reposItem += "</a>";
      reposItem += "</div>";
      reposItem += "</div>";
      return reposItem;
    });
  }

  function makeFilterItems(data) {
    let filterMap = new Map([["All", "All"]]);
    data
      .filter(repo => repo.language != null)
      .map(repo => filterMap.set(repo.language, repo.language));
    let values = Array.from(filterMap.values());
    let createFilterItem = value => {
      let clazz = value == "All" ? " filter-item-active" : "";
      return (
        '<div data-filter="' +
        value +
        '" class="filter-item' +
        clazz +
        '">' +
        value +
        "</div>"
      );
    };
    return values.map(createFilterItem);
  }

  function loadImage(data) {
    data.forEach(repo => {
      let url =
        "https://raw.githubusercontent.com/nchungdev/" +
        repo.name +
        "/master/README.md";
      $.get(url, readme => {
        $("#" + repo.id).attr("src", extractUrl(readme));
      });
    });
  }

  function filterRepos(data) {
    let filter = $("#filters-container").children(".filter-item");
    filter.click(function(e) {
      let currentFilter = $(this);
      filter.removeClass("filter-item-active");
      currentFilter.addClass("filter-item-active");
      let type = currentFilter.data("filter");
      let list =
        type == "All" ? data : data.filter(repo => repo.language == type);
      $("#portfolio-container").html(makeReposItems(list));
      loadImage(list);
    });
  }

  $.get("https://api.github.com/users/nchungdev/repos", function(data) {
    $("#filters-container").html(makeFilterItems(data));
    $("#portfolio-container").html(makeReposItems(data));
    loadImage(data);
    filterRepos(data);
  });
</script>
