<div id="portfolio">
  <div class="row">
    <div class="section-title top_30 bottom_30">
      <span></span>
      <h2>Portfolio</h2>
    </div>
    <div id="filters-container">
      <!-- '*' means shows all item elements -->
      <div data-filter="*" class="cbp-filter-item cbp-filter-item-active">
        All
      </div>
      <div data-filter=".webdesign" class="cbp-filter-item">Android</div>
      <div data-filter=".motion" class="cbp-filter-item">Kotlin</div>
      <div data-filter=".illustration" class="cbp-filter-item">
        Java
      </div>
      <div data-filter=".photography" class="cbp-filter-item">
        Javascript
      </div>
      <div data-filter=".photography" class="cbp-filter-item">
        Php
      </div>
      <div data-filter=".photography" class="cbp-filter-item">
        Html/CSS
      </div>
    </div>
  </div>
  <div id="grid-container">
    <div class="cbp-wrapper-outer">
      <div class="row">
        <div id="portfolio-container" class="cbp-wrapper"></div>
      </div>
    </div>
  </div>
</div>
<script>
  $.get("https://api.github.com/users/nchungdev/repos", function(data) {
    var titles = "";
    data.forEach(repos => {
      titles += "<div class='cbp-item webdesign col-md-4 col-sm-6 col-xs-12'>";
      titles += "<div class='cbp-item-wrapper'>";
      titles +=
        '<a href="portfolio-detail/work-01.html" class="cbp-singlePage">';
      titles += "<figure>";
      titles += '<div class="icon">';
      titles += '<i class="fa fa-clone" aria-hidden="true"></i>';
      titles += "</div>";
      titles += '<img src="images/works/work-01.jpg"/>';
      titles += "<figcaption>";
      titles += '<span class="title">' + repos.name + "</span><br />";
      titles += '<span class="info">An admin template design.</span>';
      titles += "</figcaption>";
      titles += "</figure>";
      titles += "</a>";
      titles += "</div>";
      titles += "</div>";
      titles += "<br/>";
    });
    $("#portfolio-container").html(titles);
  });
</script>
