.filter-item {
  display: inline-flex;
  margin-right: 15px;
  font-size: 14px;
  color: #787878;
  cursor: pointer;
}

.filter-item-active {
  color: #425cbb;
  font-weight: bold;
}

.portfolio-items {
  margin-top: 30px !important;
}

.portfolio-wrapper {
  background: #fafafa;
}

.portfolio-item-wrapper {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08);
  height: 100%;
  margin-bottom: 25px;
  overflow: hidden;
}

.portfolio-wrapper img {
  width: 100%;
}

.portfolio-item-wrapper figcaption {
  padding: 15px;
}
.portfolio-item-wrapper figure .portfolio-image {
  position: relative;
}
.portfolio-item-wrapper figure .portfolio-image .icon {
  text-align: center;
  z-index: 9;
}

.portfolio-item-wrapper figure .portfolio-image .icon {
  display: none;
  color: #fafafa;
}
.portfolio-item-wrapper figure .portfolio-image .icon p {
  color: #ffffff;
  text-shadow: #787878;
  font-size: 15px;
}

.portfolio-item-wrapper figure .portfolio-image .blur {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 2s linear;
}
.portfolio-item-wrapper:hover figure .portfolio-image .blur {
  background: rgba(0, 0, 0, 0.06);
}

.portfolio-item-wrapper:hover figure .portfolio-image .icon {
  display: block;
}

.portfolio-item-wrapper figure .icon {
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.portfolio-item-wrapper figure .icon i {
  font-size: 5rem;
  color: #2e2e2e;
}

.portfolio-item-wrapper figcaption .title {
  padding: 5px;
  font-weight: bold;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
}

.portfolio-item-wrapper figcaption .info {
  padding: 5px;
  width: 100%;
  font-style: italic;
  color: #787878;
  font-size: 14px;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
