.profile {
  background: #fff;
  border-radius: 6px;
  width: 100%;
  display: inline-block;
  box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.2);

  .profile-name {
    line-height: 18px;
    padding: 20px;
    .name {
      text-transform: uppercase;
      font-size: 17px;
      font-weight: bold;
    }
    .job {
      font-size: 13px;
      color: #777777;
    }
  }
  .profile-image {
    margin-top: -18px;
    clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
    img {
      max-width: 100%;
      width: inherit;
    }
  }
  .profile-information {
    list-style: none;
    margin: 8px 0px 8px 35px;
    li {
      border-left: solid 2px #eee;
      padding: 0 0 23px 20px;
      font-size: 14px;
      color: #787878;
      p {
        font-size: 13.5px;
        color: #7f7f7f;
        line-height: 12px;
        margin: 0;
      }
      &:last-child {
        border: 0;
        margin-left: 2px;
        margin-top: -2px;
      }
      &:before {
        content: "";
        border: solid 2px;
        width: 8px;
        height: 8px;
        border-radius: 50px;
        font-size: 8px;
        margin-left: -25px;
        margin-top: 2px;
        font-weight: 400;
        background: #fff;
        display: block;
        position: absolute;
        background: rgb(70, 93, 181);
      }
      span {
        color: #000;
      }
      a {
        color: #7f7f7f;
      }
      &:first-child {
        padding-bottom: 10px;
        padding-left: 30px;
        position: relative;
        img {
          margin: -44px -44px;
          display: inline-block;
          position: absolute;
          width: 25px;
        }
        &:before {
          margin-left: -51px;
          margin-top: -30px;
          margin-bottom: 20px;
          position: relative;
          border: 0;
          width: 40px;
          height: 40px;
          padding: 11px 14px;
          box-shadow: 0px 2px 32px 0px rgba(4, 123, 248, 0.3);
        }
        &:after {
          background: url(/images/glasses-w.png) no-repeat;
          content: "";
          width: 30px;
          height: 10px;
          position: absolute;
          top: 0;
          left: 0;
          margin: 16px -15px;
          background-size: 27px 10px;
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  #profile {
    position: relative;
    padding-right: 15px;
  }
  .profile.sticky {
    position: fixed !important;
    top: 30px;
  }
}

@media screen and (max-width: 991px) and (min-width: 576px) {
  .profile {
    .name {
      font-size: 20px;
      margin-top: 11px;
    }
    .profile-image {
      margin-top: -18px;
      clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
      margin-top: -40px;
    }
  }
}

.social-icons-lg {
  text-align: center;
  a {
    color: #2e2e2e;
    font-size: 1.5em;
    display: inline-block;
    margin: 8px;
  }
}
