ul.timeline {
  margin-left: 10px;
}

.timeline-title {
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  line-height: 30px;
}
.timeline li {
  border-left: solid 2px #ececec;
  list-style: none;
  padding: 0 0 40px 30px;
}

.timeline li:before {
  content: "";
  border: solid 2px;
  width: 8px;
  height: 8px;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  font-size: 8px;
  margin-left: -35px;
  font-weight: 400;
  background: #fff;
  display: block;
  position: absolute;
  margin-top: -1px;
}

.timeline li .line-title {
  font-size: 16px;
  line-height: 6px;
}

.timeline li:first-child {
  padding: 0 0 60px 19px;
}

.timeline li:first-child:before {
  border: 0;
  background: none;
  position: relative;
}

.timeline li:first-child i {
  float: left;
  margin-left: -30px;
  padding: 18px 16px;
  border-radius: 30px;
  margin: -13px -45px;
  background: #fff;
  width: 53px;
  text-align: center;
}

.timeline li .section-title {
  padding-left: 20px;
}

.timeline li span {
  font-size: 12px;
  padding: 9px 0;
  display: block;
}

.timeline li:last-child {
  border: 0;
  margin-left: 2px;
}

/* Skills */

.skill-list li {
  list-style: none;
}

.skill-list h3 {
  font-size: 15px;
}

.skill-list .progress {
  margin: 10px 0 20px;
  display: block;
  height: 5px;
  position: relative;
  width: 100%;
  overflow: visible;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background: #dfdfdf;
  box-shadow: 0;
}

.skill-list .progress .percentage {
  border-radius: 50px 0 0 50px;
  -moz-border-radius: 50px 0 0 50px;
  -webkit-border-radius: 50px 0 0 50px;
  -ms-border-radius: 50px 0 0 50px;
  -o-border-radius: 50px 0 0 50px;
  bottom: 0;
  position: absolute;
  top: 0;
}
