<!-- Profile Section
================================================== -->
<div class="col-lg-3 col-md-4">
  <div class="profile">
    <div class="profile-name">
      <span class="name">Henry Rooney</span><br />
      <span class="job">Creative Designer</span>
    </div>
    <figure class="profile-image">
      <img
        src="http://tavonline.net/html/mat/default/images/profile.jpg"
        alt=""
      />
    </figure>
    <ul class="profile-information">
      <li></li>
      <li>
        <p><span>Name:</span> Chris Johnson</p>
      </li>
      <li>
        <p><span>Birthday:</span> 06 December 1987</p>
      </li>
      <li>
        <p><span>Job:</span> Freelancer</p>
      </li>
      <li>
        <p><span>Email:</span> henry@domain.com</p>
      </li>
      <li>
        <p><span>Skype:</span> henryrooney85</p>
      </li>
    </ul>
    <div class="col-md-12">
      <button class="site-btn icon">
        Download Cv <i class="fa fa-download" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
